.about-content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2%;

  .main-header-title {
    margin-top: 2%;
    width: 96%;
    display: flex;
    flex-wrap: wrap;

    .name-title {
      font-size: 75px;
      color: white;
      line-height: 0.8;
      padding: 0 2%;
      margin-bottom: 40px;
    }
    .position-title {
      padding: 0 2%;
      font-size: 50px;
      color: white;
      line-height: 0.8;
    }
  }
  .main-info-content {
    width: 96%;
    .main-content-text {
      color: white;
      font-size: 20px;
    }
  }

  .main-work-experience-container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:last-child {
      border-bottom: 1px solid white;
    }

    .about-work-experience-content-container {
      display: flex;
      border-top: 1px solid white;
      justify-content: space-between;



      .time-from-to {
        width: 40%;
        display: flex;
        justify-content: flex-start;
        span {
          margin: 2vh;
          color: white;
          font-size: 16px;
        }
      }

      .content-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        h3 {
          color: white;
          font-size: 20px;
        }
        p {
            color: white;
            font-size: 17px;
        }
      }
    }
  }
}
