@import '../../index.scss';

.main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #23272a;
}

// background-image: url('../../../public/image.png');

.center-container {
  background-color: #2b2e31;
  min-height: 87vh;
  opacity: 0.9;

  @include for-phone-only {
    width: 100%;
  }
  @include for-tablet-landscape-up {
    width: 100%;
  }  
  @include for-tablet-portrait-up {
    width: 100%;
  }
  @include for-desktop-up {
    width: 70%;
  }
}
