@import '../../index.scss';

.header-container {
  display: flex;
  height: 7vh;
  align-items: center;
  justify-content: space-between;

  background-color: #413b3b;
  .left-header-container {
    display: flex;
    margin-left: 4%;
    .active {
      font-weight: bold;
    }

    td:first-child {
      margin-left: 0;
    }

    .nav-item {
      margin-left: 20px;

      color: white;
      font-size: 23px;
      :visited {
        color: white;
      }
      :hover {
        color: rgb(108, 106, 106);
      }
      :link {
        color: white;
      }
      .link-item {
        text-decoration: none;
      }
    }
    @include for-phone-only {
      display: none;
    }
  }
  .right-header-container {
    display: flex;
    margin-right: 20px;
    justify-content: space-between;

    span:nth-child(n) {
      margin-left: 10px;
    }
    
    span {
      :hover {
        fill: rgb(108, 106, 106);
      }
      svg {
        fill: #f6f7f8;
        width: 30px;
        height: 30px;
      }
    }
    @include for-phone-only {
      margin-right: 0;
      span:nth-child(n) {
        margin-left: 10px;
      }
    }
  }

  @include for-phone-only {
    width: 100%;
    justify-content: center;
  }
  @include for-tablet-landscape-up {
    width: 100%;
  }
  @include for-tablet-portrait-up {
    width: 100%;
  }
  @include for-desktop-up {
    width: 70%;
  }
}
