.header-container {
  display: flex;
  width: 70%;
  height: 7vh;
  align-items: center;
  justify-content: center;

  background-color: #413b3b;
}

.center-header-container {
  display: flex;
  justify-content: center;
  border: 4px;
  .active {
    font-weight: bold;
  }

  td:first-child {
    margin-left: 0;
  }

  .nav-item {
    margin-left: 20px;

    color: white;
    font-size: 23px;
    :visited {
      color: white;
    }
    :hover {
      color: rgb(108, 106, 106);
    }
    :link {
      color: white;
    }
    .link-item {
      text-decoration: none;
    }
  }
}
