.header-container {
  display: flex;
  width: 70%;
  height: 7vh;
  align-items: center;
  justify-content: space-between;

  background-color: #413b3b;

  .left-header-container {
    display: flex;
    margin-left: 4%;
    .active {
      font-weight: bold;
    }

    td:first-child {
      margin-left: 0;
    }

    .nav-item {
      margin-left: 20px;

      color: white;
      font-size: 23px;
      :visited {
        color: white;
      }
      :hover {
        color: rgb(108, 106, 106);
      }
      :link {
        color: white;
      }
      .link-item {
        text-decoration: none;
      }
    }
  }
  .right-header-container {
    display: flex;
    margin-right: 20px;
    width: 10%;
    justify-content: space-between;
    span {
      :hover {
        fill: rgb(108, 106, 106);
      }
      svg {
        fill: #f6f7f8;
        width: 30px;
        height: 30px;
      }
    }
  }
}
