@import '../../index.scss';

.footer-container {
  height: 6vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #413b3b;

  :first-child {
    margin-left: 10px;
  }

  .copyrights-label {
    font-size: 16;
    color: white;
  }

  @include for-phone-only {
    width: 100%;
    justify-content: center;
  }
  @include for-tablet-landscape-up {
    width: 100%;
  }
  @include for-tablet-portrait-up {
    width: 100%;
  }
  @include for-desktop-up {
    width: 70%;
  }
}
